/*-----------Universalselektor-------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 
  
  body {
    height: 100vh;
    display: flex;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
  }
    
  /* Hier wird der Container beschrieben */
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  /* Hier wird jede einzelne Karte beschrieben*/
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip { transform: rotateY(180deg);}
  /* Vorder und Rückseite der Karte */
  .front,
  .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front { transform: rotateY(180deg); }

/*--------------------Timer---------------------------------------------*/
#sec_sect{ 
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

#zeitanzeige {
  font-size: 7em;
  margin-bottom: 25px;
  font-family: monospace;
  margin-top: 120px;
}

button {
  font-size: 2em;
  width: 120px;
  margin: 0 15px;
}

#button-behaelter{
  margin: 100px;
}
#zeitanzeige{
  color: white;
}

